<footer class="bg-1 text-white">
    <div class="container pt-12 pb-8">
        <div class="footer-content d-flex jc-sb pb-8">
            <div class="footer-main">
                <ul class="footer-list d-flex aic pt-4 gap-12">
                    <li><a href="#">首頁</a></li>
                    <li><a href="#">系列鏡框</a></li>
                    <li><a href="#">門市據點</a></li>
                    <li><a href="#">部落格</a></li>
                    <li><a href="#">常見問題</a></li>
                </ul>               
                <div class="footer-item d-flex mt-9 mb-2 text-36 aic mt-0">
                    <span class="material-symbols-outlined ">
                        call
                    </span>           
                    <a href="tel:0800-000-000">0800-000-000</a>                  
                </div> 
                <div class="footer-item d-flex text-36 aic ">
                    <span class="material-symbols-outlined">
                        mail
                    </span>
                    <a href="mail:glasses@business.com">glasses@business.com</a>
                </div> 
            </div>
            <div class="footer-img d-flex gap-8">
                <a href="#"><img src="../assets/images/ic-social-fb.png" alt="FB圖示"></a>
                <a href="#"><img src="../assets/images/ic_social_ig.png" alt="IG圖示"></a>
                <a href="#"><img src="../assets/images/ic_social_line.png" alt="Line圖示"></a>
            </div> 
        </div>
        <div class="footer-item footer-item-4 d-flex jc-sb  ">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <div class="footer-item-p d-flex aic gap-12 text-14">
                <p>隱私權政策</p>
                <p>服務條款</p>
            </div>
        </div>        
    </div>
   </footer>