

/* 全域設定 */




/* 重複樣式 */




/* header */

header ul{
  gap: 64px;
  padding: 25px 0px;
}

.header-img img{
  width: 80px;
}

header li a:hover{
  color: #DEE2E6;
}


/* header RWD */

@media (max-width: 768px) {

  header .container{
      padding-right: 0px;
      padding-left: 0px;
      max-width: 100%;
      /*修改*/
  }

  .header-content{
      flex-direction: column;
  
  }
  
  .header-img{
     padding: 12px 0px;
  }

  header ul{
      width: 100%;
      flex-wrap: wrap;
      gap: 0;
      margin: 0px -12px;
  }

  header ul li{
      width: 50%;
      border: #ffffff 1px solid;
      font-size: 16px;
      text-align: center;
      margin-right: 0;
      flex-wrap: wrap;
      padding: 12px 62px;
  }
  }

/* banner */

.banner-bg{
  max-width: 100%;
  height: calc(100vh - 80px);/*使背景符合100%瀏覽器大小，並扣除nav的80高度*/
  /*height: 787px;*/
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-bg .container{
  height: 100%;
}
.banner-text{
  text-align: right;
}

.banner-text p{
  font-size: 36px;
  color: #650300;
}

.banner-text h1{
  font-size: 64px;
  color: #650300;
  letter-spacing: 0px;
  font-weight: bold;
}

.banner-btn{
  font-size: 20px;
  color: #FFFFFF;
  width: 104px;
  background: #AA0601;
  text-align: center;
  padding: 6px 12px;
}

.banner-btn:hover{
  background: #650300;
}

/* banner RWD */

@media (max-width: 768px) {

  .banner-bg{
      background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
  }

  .banner-text{
      display: block;
  }
  
  .banner-text p{
      font-size: 16px;
  }

  .banner-text h1{
      font-size: 24px;
  }
}

/* intro */

.bg-2{
  background: #FBF2F2;
}

.intro-list{
  gap: 24px;/*修改*/
}
.intro-item{
  width: 25%;
}

.intro-img{
  width: 83.83px;
  height: 83.83px;
  margin: 0 auto;
}

.intro h3{
  font-size: 24px;
  color: #650300;
  font-weight: bold;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 8px;
}

/* intro RWD */

@media (max-width: 992px) {

  intro.container{
      padding: 0px 36px;
  }

  .intro-list{
      flex-wrap: wrap;
      justify-content:center;
  }
  
  .intro-item{
      width: 48%;
      margin-right: 0px;
  }
  
}
@media (max-width: 768px) {

  .intro h2{
      font-size: 24px;
  } 
  
  .intro-list{
      flex-wrap: wrap;
  }
  
  .intro-item{
      width: 100%;
      margin: 0 auto;
  }

  .intro-img{
      margin-top: 24px;
  }
}

/* product */

.product-item{
  width: 33.3333%;
}

.product img{
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 8px;
}

/* product  RWD */

@media (max-width: 992px) {

  .product-list{
      flex-wrap: wrap;
  }
  .product-item{
      width: 100%;
      margin: 0px;
      text-align: center; 
  }
  .product img{
      width: 336px;
      height: 336px;
  }
}

@media (max-width: 768px) {

  .product h2{
      font-size: 24px;
  }
  .product-list{
      flex-wrap: wrap;
  }
  .product-item{
      width: 100%;
      margin: 0px;
  }
}

/* content */

.content{
  background-image: url(../images/index-bg.png);
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.content h2{
  color: #FFFFFF;
  margin-bottom: 48px;
  
}

.content-text{
  width: 100%;
  background: #FFFFFF;
}

/* content  RWD */

@media (max-width: 992px) {

  .content{
      background-image: url(../images/index-bg-md.png);
      background-position: center;
  }

  .content-list{
      flex-wrap: wrap;
  }

  .content-item{
     width: 100%;
  }
}

@media (max-width: 768px) {

  .content{
      background-image: url(../images/index-bg-sm.png);
  }

  .content-list{
      flex-wrap: wrap;
  }

  .content-item{
     width: 100%;
  }
}

/* recommend */

.recommend-item{
  width: 25%;
  box-shadow: 0px 2px 6px #00000029;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
}

.recommend-content{
  padding: 16px;
  height: 205px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recommend-p{
  color: #707070;
  font-size: 14px;
}

/* recommend  RWD */

@media (max-width: 992px) {

  .recommend-list{
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;
  }
  .recommend-item{
      width: 48%;
      margin-right: 0px;
  }
}

@media (max-width: 768px) {

  .recommend-list{
      flex-wrap: wrap;
      gap: 16px;
  }
  .recommend-item{
      width: 100%;
      margin: 0;
  }
}

/* contact */

.contact-content{
  width: 636px;
}

.contact-block{
  width: 100%;
  padding-top: 6px;
  padding-left: 12px;
  font-size: 16px;
}

.pb3{
  padding-bottom: 6px;
}

.pb106{
  padding-bottom: 106px;
}

.ta-c{
  text-align: center;
}

.contact-btn{
  width: 416px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  background: #AA0601;
  color: #FFFFFF;
  font-weight: bold;
}

.contact-btn:hover{
 background: #650300;
}

/* contact  RWD */

@media (max-width: 992px) {

  .contact-content{
      width: 576px;
  }

  .contact-content p,li{
      font-size: 16px;
  }

  .contact-btn{
      width: 336px;
      font-size: 16px;
  }
}

/* footer */

.footer-content{
  border-bottom: 1px solid #FFFFFF ;
  margin-bottom: 32px;
}

.footer-list li a:hover{
  color: #DEE2E6;
}

.material-symbols-outlined{
  color: #FFFFFF;
  margin-right: 22px;
}

.footer-img img{
  width: 48px;
  height: 48px;
}

.footer-content span{
  font-size: 36px;
}

/* footer  RWD */

@media (max-width: 768px) {

  footer{
      font-size: 16px;
  }

  .footer-content{
      padding-bottom: 24px;
      margin-bottom: 24px;
  }

 .mt-0{
  margin-top: 0px;
 }

  .footer-list{
      display: none;
  }

  .footer-item{
      font-size: 16px;
  }

  .footer-content span{
      font-size: 16px;
  }

  .footer-img{
      gap: 12px;/*修改*/
  }

  .footer-img img{
      width: 24px;
      height: 24px;
  }

  .footer-item-4{
      flex-direction: column;
      gap: 8px;
  }

  .footer-item-p{
      flex-direction: column;
      align-items: start;
      gap: 8px;
  }
}