<!DOCTYPE html>
<html lang="zh-hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>門市據點</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="store container pt-24 pb-20">
      <h1 class="content-title">門市據點</h1>
      <div class="store-search mb-10">
        <label for="area" class="store-search-label text-24">選擇地區</label>
        <select name="" id="area" class="store-search-select">
          <option value="" disabled>選擇地區</option>
          <option value="Taipei City" selected>台北市</option>
          <option value="New Taipei City">新北市</option>
          <option value="Taichung City">台中市</option>
        </select>
      </div>

      <ul class="store-list d-flex">
        <li class="store-item">
          <img src="../assets/images/store-1.png" alt="台北中山旗艦店">
          <p class="store-title">台北中山旗艦店 </p>
          <div class="store-item-content mb-4 ml-6">
            <div class="d-flex aic mt-4">
              <span class="material-symbols-outlined">
                call
              </span>           
              <a href="tel:+886 000-1234" class="text-20">電話：(02)000-1234</a> 
            </div>
            <div class="d-flex aic">
              <span class="material-symbols-outlined">
                schedule
              </span>           
              <p class="text-20">營業時間：10:00-21:00</p> 
            </div>
            <div class="d-flex aic">
              <span class="material-symbols-outlined">
                location_on
              </span>           
              <a href="#" class="text-20">地址：台北市中山區南京東路25巷2-1號</a>
            </div>
          </div>
          <a href="#" class="store-btn">詳細資訊</a>
        </li>

        <li class="store-item">
          <img src="../assets/images/store-2.png" alt="台北綠園店">
          <p class="store-title">台北綠園店</p>
          <div class="store-item-content mb-4 ml-6">
            <div class="d-flex aic mt-4">
              <span class="material-symbols-outlined">
                call
              </span>           
              <a href="tel:+886 000-1234" class="text-20">電話：(02)000-1234</a> 
            </div>
            <div class="d-flex aic">
              <span class="material-symbols-outlined">
                schedule
              </span>           
              <p class="text-20">營業時間：10:00-21:00</p> 
            </div>
            <div class="d-flex aic">
              <span class="material-symbols-outlined">
                location_on
              </span>           
              <a href="#" class="text-20">地址：台北市中山區南京東路25巷2-1號</a>
            </div>
          </div>
          <a href="#" class="store-btn">詳細資訊</a>
        </li>

        <li class="store-item">
          <img src="../assets/images/store-3.png" alt="台中清水旗艦店">
          <p class="store-title">台中清水旗艦店</p>
          <div class="store-item-content mb-4 ml-6">
            <div class="d-flex aic mt-4">
              <span class="material-symbols-outlined">
                call
              </span>           
              <a href="tel:+886 000-1234" class="text-20">電話：(02)000-1234</a> 
            </div>
            <div class="d-flex aic">
              <span class="material-symbols-outlined">
                schedule
              </span>           
              <p class="text-20">營業時間：10:00-21:00</p> 
            </div>
            <div class="d-flex aic">
              <span class="material-symbols-outlined">
                location_on
              </span>           
              <a href="#" class="text-20">地址：台北市中山區南京東路25巷2-1號</a>
            </div>
          </div>
          <a href="#" class="store-btn">詳細資訊</a>
        </li>

        <li class="store-item">
          <img src="../assets/images/store-4.png" alt="高雄中正形象店">
          <p class="store-title">高雄中正形象店</p>
          <div class="store-item-content mb-4 ml-6">
            <div class="d-flex aic mt-4">
              <span class="material-symbols-outlined">
                call
              </span>           
              <a href="tel:+886 000-1234" class="text-20">電話：(02)000-1234</a> 
            </div>
            <div class="d-flex aic">
              <span class="material-symbols-outlined">
                schedule
              </span>           
              <p class="text-20">營業時間：10:00-21:00</p> 
            </div>
            <div class="d-flex aic">
              <span class="material-symbols-outlined">
                location_on
              </span>           
              <a href="#" class="text-20">地址：台北市中山區南京東路25巷2-1號</a>
            </div>
          </div>
          <a href="#" class="store-btn">詳細資訊</a>
        </li>

        <li class="store-item">
          <img src="../assets/images/store-5.png" alt="高雄夢時代店">
          <p class="store-title">高雄夢時代店</p>
          <div class="store-item-content mb-4 ml-6">
            <div class="d-flex aic mt-4">
              <span class="material-symbols-outlined">
                call
              </span>           
              <a href="tel:+886 000-1234" class="text-20">電話：(02)000-1234</a> 
            </div>
            <div class="d-flex aic">
              <span class="material-symbols-outlined">
                schedule
              </span>           
              <p class="text-20">營業時間：10:00-21:00</p> 
            </div>
            <div class="d-flex aic">
              <span class="material-symbols-outlined">
                location_on
              </span>           
              <a href="#" class="text-20">地址：台北市中山區南京東路25巷2-1號</a>
            </div>
          </div>
          <a href="#" class="store-btn">詳細資訊</a>
        </li>











      </ul>








    </div>


    




































    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
